html {
    height: 100vh;

    body {
        height: 100%;
        margin-bottom: 0px;

        > #___gatsby, > #___gatsby > #gatsby-focus-wrapper {
            height: 100%;
        }

        .application {
            display: flex;
            flex-direction: column;
            height: 100%;

            main {
                flex-grow: 1;

                .container.writing {
                    display: flex;
                    flex-direction: column;
                    height: 100%;

                    .post-info {
                        margin-bottom: 5px;
                    }
                    iframe.writing-post {
                        background-color: white;
                        flex-grow: 1;
                        width: 100%;
                        // height: calc(100vh - 200px);
                        border: 1px solid #ccc;
                        min-height: 200px;
                        border-radius: 3px;
                        margin-bottom: 20px;
                    }
                }
            }

        }
    }
}