.short-bio {
    white-space: pre-line;
    margin-top: 20px;
}
.breadcrumb {
    background: none;
    padding: 0px;
    .breadcrumb-item + .breadcrumb-item::before {
        content: "\000b7";
    }

    .breadcrumb-item {
        i.fa-home {
            position: relative;
            top: 3px;
        }
    }
}

h1.person {
    font-size: 4em;
}
h2 {
    margin-top: 1.5em;
}