.paper-abstract {
    text-align: justify;
}

h1.paper-title {
    font-size: 2em;
}
h2.paper-authors {
    font-size: 1.3em;
    margin-top: 0.2em;
    margin-bottom: 1.5em;
}
h3.paper-venue {
    font-size: 1.3em;
}