{% assign pub = include.pub %}
{% assign venue = include.venue %}

{% include author_list.html ids=pub.authors student_ids=pub.student_authors highlight_id="steve_oney" with_links=false
%}.
{% if venue and venue.year %} ({{ venue.year }}){% endif %}
{{ pub.title }}.
{% if venue %}
{% if venue.full_name %}
{{ venue.full_name }}
{% else %}
{{ venue.short_name }}
{% endif %}
{% if venue.full_name and venue.short_name and venue.short_name != venue.full_name %}
({{ venue.short_name }})
{%-endif-%}.
{%-if venue.location %} {{ venue.location }}.{% endif %}
{% endif %}