@media print {
    body {
        zoom: 0.8;
        -moz-transform: scale(0.8);
        -moz-transform-origin: 0 0;
        background-color: #fff;
        color: #000;
    }

    body .cv.container {
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}
