@media print {
        
    @page {
        /* margin: 0 0.5in; */
    }
    
    body {
        zoom: 0.8;
        -moz-transform: scale(0.8);
        -moz-transform-origin: 0 0;
        background-color: #fff;
        color: #000;
    }

    body .cv.container {
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }

    /* body .cv.container.container .col.side {
        flex: 0 0 35%;
        max-width: 35%;
    }

    body .cv.container.container .col.main {
        flex: 0 0 65%;
        max-width: 65%;
    } */
}