@font-face {
  font-family: "oney_cv";
  src: url("oney_cv_font/oney_cv.eot");
  src: url("oney_cv_font/oney_cv.eot?#iefix") format("embedded-opentype"), url("oney_cv_font/oney_cv.woff") format("woff"), url("oney_cv_font/oney_cv.ttf") format("truetype"), url("oney_cv_font/oney_cv.svg#oney_cv") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class*=icon-]:before {
  display: inline-block;
  font-family: "oney_cv";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 0.8em;
  position: relative;
  top: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-best_paper:before {
  content: "A";
}

.icon-honorable_mention:before {
  content: "B";
}

.icon-other_award:before {
  content: "B";
}

body .cv.container {
  margin-top: 7em;
  font-family: goudy-old-style, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
  color: #333;
  line-height: 16pt;
}
body .cv.container a {
  color: #333;
  text-decoration: none;
}
body .cv.container a:hover {
  color: #0056b3;
}
body .cv.container h1 {
  font-size: 2.8em;
  letter-spacing: -1pt;
}
body .cv.container h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #AAA;
}
body .cv.container h3 {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0.1em;
  border-bottom: 1px solid #DDD;
}
body .cv.container ul.unstyled-list {
  padding-left: 0;
}
body .cv.container .affiliation .affiliation-department,
body .cv.container .affiliation .affiliation-university {
  font-weight: bold;
}
body .cv.container .contact {
  text-align: right;
}
body .cv.container .side {
  text-align: right;
}
body .cv.container .side .date-range,
body .cv.container .side .date,
body .cv.container .side .semester {
  font-style: italic;
}
body .cv.container .side .location {
  font-style: italic;
}
body .cv.container.container .col.side {
  order: 1;
  flex: 0 0 20%;
  max-width: 20%;
}
body .cv.container.container .col.main {
  order: 2;
  flex: 0 0 80%;
  max-width: 80%;
}
body .cv.container.container .col.main,
body .cv.container.container .col.side {
  padding-left: 5px;
  padding-right: 5px;
}
body .cv.container .publications .paper-id {
  font-style: italic;
}
body .cv.container .publications .pdf-download {
  font-style: italic;
  font-size: 0.9em;
}
body .cv.container .publications .paper {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: justify;
}
body .cv.container .publications .paper .author.me {
  font-weight: bold;
}
body .cv.container .publications .paper cite {
  font-style: normal;
}
body .cv.container .publications .paper-award-label {
  color: #333;
}
body .cv.container .publications .paper-award-footnote {
  font-style: italic;
  color: #333;
}
body .cv.container .publications .highlight-students-note {
  display: none;
}
body .cv.container .publications.highlight-students .highlight-students-note {
  display: flex;
}
body .cv.container .publications.highlight-students .student {
  text-decoration: underline;
  text-decoration-thickness: 0.1px;
}
body .cv.container .section .item:nth-child(2) {
  margin-top: 0em;
}
body .cv.container .section .item {
  margin-top: 1em;
  margin-bottom: 1em;
  page-break-inside: avoid;
}
body .cv.container .education .education-school {
  font-weight: bold;
}
body .cv.container .education table.education-degrees td,
body .cv.container .education table.education-advisors td {
  padding: 0px;
}
body .cv.container .experience .experience-organization {
  font-weight: bold;
}
body .cv.container .grants .award-title {
  font-weight: bold;
}
body .cv.container .grants .award-team::before {
  content: "Team: ";
}
body .cv.container .grants .award-sponsor::before {
  content: "Sponsor: ";
}
body .cv.container .grants .award-program::before {
  content: "Program: ";
}
body .cv.container .grants .award-team p {
  display: inline;
}
body .cv.container .awards .award-title {
  font-weight: bold;
}
body .cv.container .presentations .talk-location {
  font-weight: bold;
}
body .cv.container .supervisees .student,
body .cv.container .supervisees .supervisee {
  font-weight: bold;
}
body .cv.container .teaching .course-name {
  font-weight: bold;
}
body .cv.container .press .outlet {
  font-style: italic;
}

/*# sourceMappingURL=cv.css.map */