:root {
    --font-color: #333;
    --font-size: 14pt;
    --line-height: calc(var(--font-size) + 2pt);
    --award-color: var(--font-color);
    --link-color: var(--font-color);
    --link-hover-color: #0056b3;
}

@media print {}

@font-face {
    font-family: 'oney_cv';
    src: url('oney_cv_font/oney_cv.eot');
    src: url('oney_cv_font/oney_cv.eot?#iefix') format('embedded-opentype'),
        url('oney_cv_font/oney_cv.woff') format('woff'),
        url('oney_cv_font/oney_cv.ttf') format('truetype'),
        url('oney_cv_font/oney_cv.svg#oney_cv') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='icon-']:before {
    display: inline-block;
    font-family: 'oney_cv';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 0.8em;
    position: relative;
    top: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-best_paper:before {
    content: '\0041';
}

.icon-honorable_mention:before {
    content: '\0042';
}

.icon-other_award:before {
    content: '\0042';
}

body {
    .cv.container {
        margin-top: 7em;
        font-family: goudy-old-style, serif;
        font-weight: 400;
        font-style: normal;
        font-size: var(--font-size);
        color: var(--font-color);

        line-height: var(--line-height);

        a {
            color: var(--link-color);
            text-decoration: none;

            &:hover {
                color: var(--link-hover-color);
            }
        }

        h1 {
            font-size: 2.8em;
            letter-spacing: -1pt;
        }

        h2 {
            margin-top: 1.5em;
            font-size: 1.5em;
            border-bottom: 1px solid #AAA;
        }

        h3 {
            font-size: 1.0em;
            margin-top: 1em;
            margin-bottom: 0.1em;
            border-bottom: 1px solid #DDD;
        }

        ul.unstyled-list {
            padding-left: 0;
        }

        ul.cv-list {
            padding-left: 0px;

            li:first-child {
                margin-top: 0;
            }
        }

        .affiliation {

            .affiliation-department,
            .affiliation-university {
                font-weight: bold;
            }
        }

        .contact {
            text-align: right;

            .contact-spacer {}
        }

        .side {
            text-align: right;

            .date-range,
            .date,
            .semester {
                font-style: italic;
            }

            .location {
                font-style: italic;
            }
        }

        &.container {
            .col.side {
                order: 1;
                flex: 0 0 20%;
                max-width: 20%;
            }

            .col.main {
                order: 2;
                flex: 0 0 80%;
                max-width: 80%;
            }

            .col.main,
            .col.side {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        .publications {
            .paper-id {
                font-style: italic;
            }

            .pdf-download {
                font-style: italic;
                font-size: 0.9em;
            }

            .paper {
                margin-top: 1em;
                margin-bottom: 1em;
                text-align: justify;

                .paper-author.highlight {
                    font-weight: bold;
                }

                cite {
                    font-style: normal;
                }
            }

            .paper-award-label {
                color: var(--award-color);
            }

            .paper-award-footnote {
                font-style: italic;
                color: var(--award-color);
            }

        }

        .section {
            .item {
                &:nth-child(2) {
                    margin-top: 0em;
                }

                margin-top: 1em;
                margin-bottom: 1em;
                page-break-inside: avoid;
            }
        }

        .education {
            .education-school {
                font-weight: bold;
            }

            table.education-degrees,
            table.education-advisors {
                td {
                    padding: 0px;
                }
            }
        }

        .experience {
            .experience-organization {
                font-weight: bold;
            }
        }

        .grants {
            .award-title {
                font-weight: bold;
            }

            .award-team::before {
                content: "Team: "
            }

            .award-sponsor::before {
                content: "Sponsor: "
            }

            .award-program::before {
                content: "Program: "
            }

            .award-team {
                p {
                    display: inline;
                }
            }
        }

        .awards {
            .award-title {
                font-weight: bold;
            }
        }

        .presentations {
            .talk-location {
                font-weight: bold;
            }
        }

        .service {}

        .supervisees {

            .student,
            .supervisee {
                font-weight: bold;
            }
        }

        .teaching {
            .course-name {
                font-weight: bold;
            }
        }

        .press {
            .outlet {
                font-style: italic;
            }
        }
    }

    .highlight-students-note {
        display: none;
    }

    &.highlight-students {
        .highlight-students-note {
            display: flex;
        }

        .student {
            text-decoration: underline;
            text-decoration-thickness: 0.1px;
        }
    }

    margin-bottom: 100px;
}