@charset "utf-8";
// If need, change your variables before importing Bulma
// @import "~boo/bulma.sass";
@import "~bootstrap";

body {
    font-family: 'Alegreya', serif;

    nav.navbar {
        background: none !important;
        margin-top: 20px;
        border-bottom: 1px solid #BBB;
        margin-bottom: 20px;
        .nav-item {
            &.active {
                .nav-link {
                    text-decoration: underline;
                }
            }
            position: relative;
            .subtitle {
                color: #888;
                font-size: 0.8em;
                display: none;
            }
        }
    }

    p.spot-lead {
        // font-size: 1.5rem;
        // font-weight: 300;
    }

    .member-display {
        text-decoration: none;
        color: #333;
        .member-name {
            font-weight: bold;
        }
        
        &:hover {
            .member-headshot {
                img {
                    filter: none;
                }
            }
        }
        .member-headshot {
            img {
                transition: 0.5s;
                filter: grayscale(100%) brightness(110%) contrast(80%);
            }
        }
        .member-short-bio {
            font-size: 0.8em;
            white-space: pre-line;
        }
    }
    ul.publication-list {
        list-style: none;
        padding: 0px;
    }

    li {
        .paper {
            .paper-award {
            }
            .paper-title {
                font-weight: bold;
            }
            .paper-venue {
                font-weight: bold;
            }
            .paper-description {
                color: #888;
                font-size: 0.85em;
                text-align: justify;
                margin-bottom: 0px;
                &::before {
                    content: "Description: ";
                    font-weight: bold;
                }
            }
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #F0F0F0;
        }
        &:last-child {
            .paper {
                border-bottom: none;
            }
        }
    }
    .paper-authors {
        .paper-author.highlight {
            font-weight: bold;
        }
        .author-internal-link {
            color: inherit;
            // text-decoration: underline;
            // text-decoration-style: dashed;
            // text-decoration-color: #BBB;
            // text-decoration-thickness: 1px;
            // &:hover {
            //     text-decoration-style: unset;
            //     text-decoration-color: unset;
            //     text-decoration-thickness: unset;
            // }
        }
        .author-external-link {
            color: inherit;
        }
    }
}