@charset "utf-8";
// If need, change your variables before importing Bulma
// @import "~boo/bulma.sass";
@import "~bootstrap";

$background-color: #FFF;
$text-color: #333;
$secondary-text-color: #888;
$border-color: #EEE;

$link-color: #007bff;
$link-hover-color: #0056b3; 

// $background-color: #222;
// $text-color: #CCC;
// $secondary-text-color: #999;
// $border-color: #333;

$border-style: 1px solid $border-color;

body {
    background-color: $background-color;
    color: $text-color;
    font-family: 'Alegreya', serif;
    margin-top: 50px;
    margin-bottom: 100px;

    a {
        color: $link-color;
        &:hover {
            color: $link-hover-color;
            text-decoration: underline;
        }
    }

    nav.navbar {
        background: none !important;
        margin-top: 20px;
        border-bottom: $border-style;
        margin-bottom: 20px;
        .navbar-brand {
            color: $text-color;
            &:hover {
                color: darken($text-color, $amount: 25)
            }
        }
        .nav-item {
            .nav-link {
                color: $secondary-text-color;
                &:hover {
                    // color: red;
                    color: darken($secondary-text-color, $amount: 25)
                }
            }
            &.active {
                .nav-link {
                    text-decoration: underline;
                    color: $text-color;
                }
            }
            position: relative;
            .subtitle {
                color: rgb(136, 136, 136);
                font-size: 0.8em;
                display: none;
            }
        }
    }

    p.spot-lead {
        // font-size: 1.5rem;
        // font-weight: 300;
    }

    .member-row {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .member-display {
        text-align: center;
        text-decoration: none;
        .member-name {
            font-weight: bold;
        }

        color: $text-color;
        
        &:hover {
            color: $text-color;
            text-decoration: none;
            .member-headshot {
                img {
                    filter: none;
                }
            }
        }
        .member-headshot {
            img {
                border: 1px solid #333;
                transition: 0.5s;
                filter: grayscale(100%) brightness(110%) contrast(80%);
            }
        }
        .member-short-bio {
            font-size: 0.8em;
            white-space: pre-line;
        }
    }
    ul.publication-list {
        list-style: none;
        padding: 0px;
    }

    li {
        .paper {
            .paper-award {
                text-align: center;
                color: $secondary-text-color;
            }
            .paper-title {
                font-weight: bold;
            }
            .paper-venue {
                text-align: center;
                a {
                    color: $secondary-text-color;
                }
            }
            .paper-description {
                color: $secondary-text-color;
                font-size: 0.85em;
                text-align: justify;
                margin-bottom: 0px;
                &::before {
                    content: "Description: ";
                    font-weight: bold;
                }
            }
            .paper-pdf {
                text-align: center;
                a {
                    &::before {
                        content: "\f1c1";
                        font-family: "Font Awesome 5 Free", FontAwesome;
                        margin-right: 3px;
                    }
                }
            }
            padding-bottom: 12px;
            margin-bottom: 12px;
            // border-bottom: $border-style;
        }
        &:last-child {
            .paper {
                border-bottom: none;
            }
        }
    }
    .paper-authors {
        .paper-author.highlight {
            font-weight: bold;
        }
        .author-internal-link {
            color: inherit;
            // text-decoration: underline;
            // text-decoration-style: dashed;
            // text-decoration-color: #BBB;
            // text-decoration-thickness: 1px;
            // &:hover {
            //     text-decoration-style: unset;
            //     text-decoration-color: unset;
            //     text-decoration-thickness: unset;
            // }
        }
        .author-external-link {
            color: inherit;
        }
    }
    footer {
        margin-top: 50px;
        object {
            max-width: 100%
        }
        #nsf-logo {
            width: 100px;
        }
        // svg {
        //     width: 100%;
        // }
    }
}