@charset "utf-8";
// If need, change your variables before importing Bulma
// @import "~boo/bulma.sass";
@import "~bootstrap";

$background-color: #FFF;
$text-color: #131516;
$secondary-text-color: #655A52;
$border-color: #EEE;

$link-color: #2F65A7;
$link-hover-color: #2F65A7;

$suble-color: #CCC;

$announcement-background-color: #F5F5F5;
$announcement-foreground-color: #424242;
$announcement-bullhorn-color: #FFCB05;

// $link-color: #0056b3; 
// $link-hover-color: #0056b3; 


// $background-color: #222;
// $text-color: #CCC;
// $secondary-text-color: #999;
// $border-color: #333;

$border-style: 1px solid $border-color;

body {
    background-color: $background-color;
    color: $text-color;
    font-family: 'Alegreya', serif;
    margin-top: 50px;
    margin-bottom: 100px;

    a {
        color: $link-color;
        text-decoration: none;
        &:hover {
            color: $link-hover-color;
            text-decoration: underline;
        }
    }

    .news, .group_description {
        h2 {
            margin-top: 0px;
        }
    }

    .announcements {
        background-color: $announcement-background-color;
        color: $announcement-foreground-color;
        border-radius: 3px;
        position: relative;
        border: 1px solid $announcement-bullhorn-color;
        border-bottom-width: 2px;
        .bullhorn {
            float: right;
            opacity: 0.4;
            // color: $announcement-bullhorn-color;
            font-size: 1.2em;
            // position: absolute;
            // left: -25px;
        }
        > p {
            margin-bottom: 1rem;
            margin-top: 1rem;
            text-wrap: wrap;
        }
    }

    .news {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                padding: 0;

                ul {
                    display: inline;
                    li {
                        a {
                            color: $secondary-text-color;
                        }
                        color: $secondary-text-color;
                        display: inline;
                        padding-left: 1px;
                        padding-right: 1px;

                    }
                }
            }
        }
    }

    li.news-item {
        p {
            display: inline;
        }
    }

    nav.navbar {
        background: none !important;
        margin-top: 20px;
        // border-bottom: $border-style;
        margin-bottom: 0px;
        .navbar-brand {
            color: $text-color;
            &:hover {
                color: darken($text-color, $amount: 25)
            }
        }
        .nav-item {
            .nav-link {
                color: $secondary-text-color;
                &:hover {
                    // color: red;
                    color: darken($secondary-text-color, $amount: 25)
                }
            }
            &.active {
                .nav-link {
                    text-decoration: underline;
                    color: $text-color;
                }
            }
            position: relative;
            .subtitle {
                color: rgb(136, 136, 136);
                font-size: 0.8em;
                display: none;
            }
        }
    }

    p.spot-lead {
        // font-size: 1.5rem;
        // font-weight: 300;
    }

    .member-row {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .member {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 350px;
    }

    .member-display {
        text-align: center;
        text-decoration: none;
        .member-name {
            font-weight: bold;
        }

        color: $text-color;
        
        &:hover {
            color: $text-color;
            text-decoration: none;
            .member-headshot {
                img {
                    filter: none;
                }
            }

            .member-focus {
                visibility: visible;
            }
        }
        .member-headshot {
            img {
                transition: 0.5s;
                filter: grayscale(100%) brightness(110%) contrast(80%);
            }
        }
        .member-short-bio, .member-focus {
            font-size: 0.8em;
            white-space: pre-line;
        }
        .member-focus {
            visibility: hidden;
        }

    }
    ul.publication-list {
        list-style: none;
        padding: 0px;
    }

    li {
        .paper {
            .paper-award {
                text-align: center;
                color: $secondary-text-color;
            }
            .paper-title {
                font-weight: bold;
            }
            .paper-venue {
                text-align: center;
                a {
                    color: $secondary-text-color;
                }
            }
            .paper-description {
                color: $secondary-text-color;
                font-size: 0.85em;
                text-align: left;
                margin-bottom: 0px;
                &::before {
                    content: "Description: ";
                    font-weight: bold;
                }
            }
            .paper-pdf {
                text-align: center;
                // a {
                    // &::before {
                        // content: "\f1c1";
                        // font: var(--fa-font-solid);
                        // font-family: "Font Awesome 5 Free", FontAwesome;
                        // margin-right: 3px;
                    // }
                // }
            }
            padding-bottom: 12px;
            margin-bottom: 12px;
            // border-bottom: $border-style;
        }
        &:last-child {
            .paper {
                border-bottom: none;
            }
        }
    }
    .paper-authors {
        .paper-author.highlight {
            font-weight: bold;
        }
        .author-internal-link {
            color: inherit;
            // text-decoration: underline;
            // text-decoration-style: dashed;
            // text-decoration-color: #BBB;
            // text-decoration-thickness: 1px;
            // &:hover {
            //     text-decoration-style: unset;
            //     text-decoration-color: unset;
            //     text-decoration-thickness: unset;
            // }
        }
        .author-external-link {
            color: inherit;
        }
    }
    footer {
        margin-top: 50px;
        object {
            max-width: 100%
        }
        #nsf-logo {
            width: 100px;
        }
        #google-logo {
            max-height: 70px;
        }
        #adobe-logo {
            width: 100px;
        }
        // svg {
        //     width: 100%;
        // }
        h2 {
            margin-top: 5px;
            font-size: 1.5em;
        }
        .disclaimer {
            padding-top: 8px;
            color: $secondary-text-color;
        }
    }
    .paper-condaccept {
        color: $secondary-text-color;
        text-align: center;
    }
    .blogpost {
        .title {
            font-weight: bold;
        }
        .created {
            color: $secondary-text-color;
            font-style: italic;
            &::before {
                content: " (";
            }
            &::after {
                content: ")";
            }
        }
    }
}